version: '3.8'

services:
  mosquitto:
    image: eclipse-mosquitto:latest
    container_name: mosquitto-broker
    ports:
      - "1883:1883"     
      - "9001:9001"     
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
      - mosquitto_data:/mosquitto/data
      - mosquitto_logs:/mosquitto/log
    networks:
      - weather-network

  mqtt-listener:
    image: eclipse-mosquitto:latest
    container_name: mqtt-listener
    command: mosquitto_sub -h mosquitto -t "sensors/#" -v
    depends_on:
      - mosquitto
    networks:
      - weather-network

  aggregator-listener:    
    image: eclipse-mosquitto:latest
    container_name: aggregator-listener
    command: mosquitto_sub -h mosquitto -t "aggregator/#" -v
    depends_on:
      - mosquitto
    networks:
      - weather-network    

  sensor:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: weather-sensor-001
    environment:
      - BROKER_HOST=mosquitto
      - BROKER_PORT=1883
      - SENSOR_ID=sensor_001
    depends_on:
      - mosquitto
    networks:
      - weather-network
  sensor2:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: weather-sensor-002
    environment:
      - BROKER_HOST=mosquitto
      - BROKER_PORT=1883
      - SENSOR_ID=sensor_002
    depends_on:
      - mosquitto
    networks:
      - weather-network

  aggregator:
    build:
      context: .
      dockerfile: Dockerfile.aggregator
    container_name: weather-aggregator-001
    environment:
      BROKER_HOST: mosquitto
      BROKER_PORT: 1883
      AGGREGATOR_ID: aggregator_001
      INPUT_TOPIC: sensors/+/data
      OUTPUT_TOPIC: aggregator/weather/status
      REST_API_URL: http://backend:8080/api/aggregator/save
      BATCH_INTERVAL: 30
    depends_on:
      - mosquitto
    networks:
      - weather-network

volumes:
  mosquitto_data:
  mosquitto_logs:

networks:
  weather-network:
    driver: bridge